<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>unittest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1CB68F471D90A3160060EBAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB68F601D90A3170060EBAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1CB68F6B1D90A3170060EBAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
